<div class="home--container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="Digital"
        gameType="Digital PS4"
        gamePrice="R$ 299,99"
    ></app-card>
    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="Exclusivo"
        gameType="Digital PS4"
        gamePrice="R$ 269,99"
    ></app-card>
    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="Best of the Year"
        gameType="Digital PS3 PS4"
        gamePrice="R$ 369,99"
    ></app-card>
</div>
